/*
a height:100px width:100%
b height:600px width:20% display:inline-block float:left

[

	[
	c height:200px width:40% display:inline-block
	d height:200px width:40% display:inline-block
	]

	[
	e height:250px width:20% display:inline-block
	f height:250px width:20% display:inline-block
	g height:250px width:20% display:inline-block
	h height:250px width:20% display:inline-block
	]

	i height:150px width:80% display:inline-block
]*/

body {
  background-image: url("round.png");
  background-color: #effffd;
}

#error-container {
  display:none;
}

#container {
  display:block;
  max-width:800px;
  min-width:480px;
  margin:auto;
  font-size:0;
}

#container * {
  display:inline-block;
}

#a {
  height:75px;
  width:100%;
  background-color:#8aff6d;
}

#b {
  height:150px;
  width:100%;
  background-color:#4281ff;
}

#c {
  height:125px;
  width:100%;
  background-color:#ffff54;
}

#d {
  height:125px;
  width:100%;
  background-color:#ffd654;
}

#e {
  height:250px;
  width:50%;
  background-color:#ffff8c;
}

#f {
  height:250px;
  width:50%;
  background-color:#ffffad;
}

#g {
  height:250px;
  width:50%;
  background-color:#ffd68c;
}

#h {
  height:250px;
  width:50%;
  background-color:#ffd6ad;
}

#i {
  height:80px;
  width:100%;
  background-color:#4cff99;
}

@media (max-width: 480px) {
    #container {
        display: none;
    }

    #error-container {
      display:block;
      width:100vw;
      background-color: #ff5842;
    }
    #error {
      display:inline-block;
      margin:auto;

      writing-mode:sideways-lr;
      font-size:5vw;
      font-family:sans-serif;
      line-height:120%
    }
}

@media (min-width: 800px) {

#error-container {
  display:none;
}

#container {
  display:block;
  max-width:960px;
  min-width:800px;
  margin:auto;
  font-size:0;
}

#container * {
  display:inline-block;
}

#a {
  height:100px;
  width:100%;
  background-color:#8aff6d;
}

#b {
  float:left;
  height:600px;
  width:20%;
  background-color:#4281ff;
}

#c {
  height:200px;
  width:40%;
  background-color:#ffff54;
}

#d {
  height:200px;
  width:40%;
  background-color:#ffd654;
}

#e {
  height:250px;
  width:20%;
  background-color:#ffff8c;
}

#f {
  height:250px;
  width:20%;
  background-color:#ffffad;
}

#g {
  height:250px;
  width:20%;
  background-color:#ffd68c;
}

#h {
  height:250px;
  width:20%;
  background-color:#ffd6ad;
}

#i {
  height:150px;
  width:80%;
  background-color:#4cff99;
}

}
